<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{ page.title  }}</title>
        <link rel="stylesheet" href="/css/style.css" />
        <link href='http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic|Open+Sans' rel='stylesheet' type'text/css'>
        <meta charset="utf-8">
        <meta name="author" content="Adam Allidina">
        <meta name="keywords" content="adam, allidina, blog">
        <meta name="description" content="Adam Allidina's blog">
		<script type="text/javascript">

  			var _gaq = _gaq || [];
  			_gaq.push(['_setAccount', 'UA-18670710-3']);
  			_gaq.push(['_trackPageview']);

  			(function() {
    			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  			})();

		</script>
</head>

<div class="content">
	<body>
		<div class="header">
			<h1>{{ page.title }}</h1>
		</div>

		<div class="post">	
			{{ content }}
			<a href="/">Home</a>
		</div>
	</body>
</div>
</html>
